<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930732601714-fnbvv0nve5chthic5sv5hhksavhtqig9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930732601714-fnbvv0nve5chthic5sv5hhksavhtqig9</string>
	<key>API_KEY</key>
	<string>AIzaSyBjUeiQJuvrXu3pkFadd14F8ZU1aBN1sPU</string>
	<key>GCM_SENDER_ID</key>
	<string>930732601714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hayanApp</string>
	<key>PROJECT_ID</key>
	<string>hayyan-458d9</string>
	<key>STORAGE_BUCKET</key>
	<string>hayyan-458d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930732601714:ios:f4c72c53cac7ec81bcadeb</string>
</dict>
</plist>